nav{
 background-color: #282c34;
 display: flex;
 flex-direction: column;
 text-align: right;
 color: white;
}

ul{
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

a{
  text-decoration: none; 
  color:white;
}

a:hover{
  color:rgb(65, 223, 202) ;
}

.home{
  padding: 150px;
  margin: 50px;
}

.about{
  margin: 50px;
}

